
#carruselimg{
    width: 100%;
    height: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

#parrafodescripcion{
    
    background-color: red;
    left: 30%;

    
}


#imgindex{

    border-radius: 50%;
    top: 50px;
    left:50px;

}

#bajoindice{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1em
    
    
}

#imagenperfillinks{

    padding-top: 20px;
    position: relative;
    align-items: center;
}

#icono{
    width: 20px;
    height: 15px;
    float: inline-start;
    
}

#iconolinks{
    width: 50;
    height: 50px;
    float: inline-start;
    border-radius: 50%;
}

#logo{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

#fotoperfil{
    
    padding-right: 30px;
    width: 40%;
    height: 40%;
    

}


.navbar{
    border-radius: 10px;
    background-color: #4267B2;
}
.navbar-brand{
    color: #683b11;
}


.botonfb {

    font-weight: 600;
    border-color: #4267B2;
    border-radius: 10px;
    border-top: transparent;
    border-left: transparent;

    
}

.botonfb:hover{
    background-color: #4267B2;
    transition: 0.5s;
}

.botonig {

    font-weight: 600;
    border-color: darkmagenta;

    
  }

.botonig:hover{
    background-color: darkmagenta;
    transition: 0.5s;
}

#links1{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

body{

    background-image: url(media/background.jpg);
    background-size: cover; 

    /*
    background: fixed;
    background-color:#683b11 ;
    
}

#galeriadiv{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-body{
    
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.container{
    text-align: center;
}

.container h5{
    padding-top: 50px;
    color:azure;
    font-size:150%;
}
.container-img img{
    display: inline-block;
    padding: 20px;
    width: 100%;
    
}
.container-img img:hover{
    filter: blur(2px);
    transition:all .2s ease-in-out;
    
}

.modal-body li{
    
    margin-left: 20px;
    padding: 3px;
}

.div-imagen-fondo {
    background-image: url(media/background.jpg);
    background-size: cover;
}