#carruselimg{
    width: 100%;
    height: 50%;
}
#icono{
    width: 20px;
    height: 15px;
    float: inline-start;
    
}
.nav-link a:hover{
    color: #274b7f;
}
#C_Principal{color:#683b11}

.container{
    text-align: center;
}

.container h5{
    padding-top: 50px;
    color:azure;
    font-size:150%;
}
.container-img img{
    display: inline-block;
    padding: 20px;
    width: 100%;
    
}
.container-img img:hover{
    filter: blur(2px);
    transition:all .2s ease-in-out;
    
}


.modal-body li{
    color:#683b11;
    margin-left: 20px;
    padding: 3px;
}

.div-imagen-fondo {
    background-image: url(media/background.jpg);
    background-size: cover;
}