#carruselimg{
    width: 100%;
    height: 50%;
}

#icono{
    width: 20px;
    height: 15px;
    float: inline-start;
    
}

#logo{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.navbar-brand{
    color: #683b11;
}

#fotoperfil{
    width: 30%;
    height: fit-content;
}

.botonfb {

    font-weight: 600;
    background-color: transparent;
    border-color: #4267B2;
    border-radius: 10px;

    
}

.botonfb:hover{
    background-color: #4267B2;
    transition: 0.5s;
}

.botonig {

    font-weight: 600;
    background-color: transparent;
    border-color: darkmagenta;
    border-radius: 10px;
    
  }

.botonig:hover{
    background-color: darkmagenta;
    transition: 0.5s;
}
